/* Reset some default styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/bg-img.jpg");
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header Styles */
.header {
    padding: 80px;
    text-align: center;
    color: white;
}

.header h1 {
    font-size: 40px;
    font-style: italic;
    font-family: Tahoma;
}

.header h2 {
    font-size: 25px;
    font-style: italic;
    font-family: monospace;
}

.header dl {
    font-size: 12px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Content Styles */
.content {
    color: #fff;
    text-align: center;
}

.vision {
    font-size: 24px;
    font-style: italic;
    font-family: Tahoma;
}

.mision {
    font-size: 20px;
    font-style: italic;
    font-family: monospace;
}

.carreras {
    font-size: 16px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navbar Styles */
.navbar {
    background-color: #000000;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px; /* Adjusted for better readability on small screens */
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.right {
    float: right;
}

/* Flexbox Layout */
.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 2;
    background-color: rgba(241, 241, 242, 0.18); /* Adjusted background color with opacity */
    padding: 5%;
}

.main {
    flex: 1;
    background-color: rgba(241, 241, 242, 0.18); /* Adjusted background color with opacity */
    padding: 5%;
}

.table-wrapper {
    display: inline-block;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}
